@keyframes vemMenu {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);

    }
}


@keyframes voltaMenu {

    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(100%);
    }

}

@keyframes seta {

    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(5px);
    }

}

@keyframes accordinDown {
    0%{
        opacity:0;
       max-height:0;
    }
    100%{
        opacity:1;
       max-height:1200px;

    }
}