footer {
    background-color: $preto;
    padding: 50px 0;
    padding-bottom: 80px;
    margin-top: -1px;

    h3:last-child {
        margin-top: 10px;
    }

    //.footer__wrapper {}
    .footer__logo {
        img {
            margin-top: 10px;
            //margin-bottom: 135px;
            width: 230px;

            @include d(m) {
                // margin-bottom: 35px;

            }
        }
    }

    ul {
        margin-bottom: 10px;

        li {
            margin-top: 10px;
            letter-spacing: 0.04em;
            color: #E0E0E0;
        }
    }


    h3,
    h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 152%;
        letter-spacing: 0.04em;
        color: $branco-cinza !important;
        margin-top: 0px;

        @include d(m) {
            margin-top: 30px;
        }
    }

    h4 {
        margin-top: auto;
        font-size: 20px;
    }

    a {
        color: $branco-cinza;
        letter-spacing: 0.04em;
        color: #E0E0E0;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer__sobre {
        h3 {
            margin-left: 15px;
            @include d(m){
                margin-left:0;
            }
        }

        ul{
            @include d(m){
                padding-left: 0;
            }
        }

        ul:nth-child(2) {
            margin-left: -40px;

            @include d(m) {
                
                margin-left:0;
            }
        }
    }

    .margin__left {
        margin-left: -60px;

        @include d(m) {
            margin-left: 0;
        }
    }

    .social__wrapper {
        justify-content: center;
        margin-top: 40px;

       
    }

    .social__icon {
        max-width: 40px;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.3);
        }
    }

    .social__icon+.social__icon {
        margin-left: 10px;
    }
}