@media screen and (max-width:1630px) and (min-width: 1400px) {
    .carousel .carousel-trofeu {
        width: 650px !important;
    }

}

@media screen and (max-width:1399px)

and (min-width: 1180px)  
    {
    .carousel .carousel-trofeu {
        width: 500px !important;
    }

}

@media screen and (max-width:1179px)

 and (min-width: 992px)   
    {
    .carousel .carousel-trofeu {
        width: 350px !important;
    }

}